.right {
    'align': 'right',
}
.left {
    'align': 'left',
}
.center {
    'align': 'center',
}

.font_red {
    font-family: 'Ubuntu', sans-serif;
    font-weight:100;
    color:red;
}

.font_title {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    color: blue;
    background-color: #ffa700;
}

.invoice_general_information {
    font-family: 'Ubuntu', sans-serif;
    font-weight:100;
    color:green;
}
